.bodyActiveProjects {
    padding: 100px;
    background: #395B64;
    height: 100%;

}

.bodyActiveProjects .table-striped tbody tr:nth-child(even) {
    background-color: #a5c9ca;
}

.bodyActiveProjects .table-striped tbody tr:nth-child(odd) {
    background-color: #e7f6f2;
}

.bodyActiveProjects table {
    border-spacing: 20px;
}

.bodyActiveProjects td, th {
    padding: 15px;
    line-height: 2.0;
    
}

.bodyActiveProjects tbody {
    margin: 0 auto;
    text-align: center;
}

.bodyActiveProjects thead {
    text-align: center;
  }

.bodyActiveProjects .title-container {
    border-top: 4px solid rgba(0, 0, 0, 0.194);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
}

.bodyActiveProjects h1 {
    color: #A5C9CA;
}

.bodyActiveProjects th {  
    color: #a5c9ca;
    text-align: center;
}