/* Main content CSS */
* {
  box-sizing: border-box;
}
.addEmployee {
  padding: 60px;
  width: 100%;
  margin: 0 auto;
  border-top: 2px solid rgba(0, 0, 0, 0.194);
  background-color: #395b64;
  height: 100vh;
}

.addEmployee-title {
  padding-top: 20px;
  border-top: 4px solid rgba(0, 0, 0, 0.194);
  color: #a5c9ca;
  transition: 0.5s;
  text-align: center;
  margin-top: 20px;
}

.addEmployee-h3 {
  color: #e7f6f2;
  padding-left: 45px;
  padding-top: 80px;
  padding-bottom: 5px;
}

.addEmployee-content {
  padding-top: 30px;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.main-content {
  width: 80%;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-radius: 30px;
}

.side-content {
  margin-top: 20px;
  width: 50%;
  padding-left: 50px;
  border-radius: 30px;
}

#addEmployee-p {
  font-weight: bold;
  font-size: large;
  color: #a5c9ca;
}

/* Picture CSS */
.pic {
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
  background-color: #a5c9ca;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.194);
  margin-bottom: 45px;
  margin-left: 320px;
}

/* Form CSS */
input[type="text"]:hover {
  border-color: #e7f6f2;
  box-shadow: 0 0 8px #e7f6f2;
}

.form-group {
  width: 80%;
  border: 4px solid rgba(0, 0, 0, 0.194);
  border-radius: 10px;
  padding: 20px;
  background-color: #a5c9ca;
}

/* Button CSS */
#reset {
  margin-top: 20px;
  margin-left: 20px;
}

button {
  background-color: #395b64;
  color: #e7f6f2;
  margin-top: 10px;
}

button:hover {
  background-color: #e7f6f2;
  border-color: #2c3333;
  box-shadow: none;
  color: black;
  transform: scale(
    1.1
  ); /* förstorar kortet till 110% av sin ursprungliga storlek */
  transition: transform 0.3s ease-in-out; /* skapar en mjuk övergång till förstoringsanimationen */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/* CSS for the arrow pointing down on the dropdown menu. */
select option:first-child {
  color: gray;
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'><path d='M4 6L8 10L12 6' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>")
    no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 1em auto;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

select option {
  color: black;
}

.select-arrow::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
}

/* Media Queries CSS */
@media only screen and (max-width: 768px) {
  .addEmployee {
    height: auto;
  }
  .main-container {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .addEmployee-title {
    padding-bottom: 20px;
  }

  .main-content {
    max-width: 100%;
    padding: 0;
    margin-right: auto;
  }

  .side-content {
    width: 100%;

    margin-right: 80px;
  }

  .main-text {
    width: 100%;
  }

  .image {
    max-height: 100%;
    height: auto;
    margin-right: 30px;
  }

  .form-group {
    align-items: center;
    width: 100%;
    max-width: 500px;
  }

  .button {
    margin: 20px auto 0;
  }
}
