.bodyDisplayEmployees {
    padding: 100px;
    border-top: 2px solid rgba(0, 0, 0, 0.194);
    background: rgb(80, 80, 80);
}

.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.table-striped tbody tr:nth-child(even) {
  background-color: #ccc;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #a8a8a8;
}

table {
  border-spacing: 20px;
  
}

td, th {
  padding: 15px;
  line-height: 2.0;
}

tbody tr {
  border-bottom: 1px solid black;
}

table {
  margin: 0 auto;
}

/* .display-module {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 5%;
}

.display-module:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
} */

.title-container {
  border-top: 2px solid rgba(0, 0, 0, 0.194);
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

.displayTitle {
  color: #ccc  
}

th {
  color: #ccc;
  text-align: center;
}
