.bodyDisplayEmployees {
  padding: 100px;
  background-color: #395b64;
}

.bodyDisplayEmployees .table-striped tbody tr:nth-child(even) {
  background-color: #A5C9CA;
}

.bodyDisplayEmployees .table-striped tbody tr:nth-child(odd) {
  background-color: #E7F6F2;
}

.bodyDisplayEmployees table {
  border-spacing: 20px;
  margin: 0 auto;
  width: 80%;
}

.bodyDisplayEmployees td,
.bodyDisplayEmployees th {
  padding: 15px;
  line-height: 2.0;
}

.bodyDisplayEmployees tbody tr {
  border-bottom: 1px solid black;
}

.bodyDisplayEmployees tbody {
  text-align: center;
  margin: 0 auto;
}

.bodyDisplayEmployees .title-container {
  border-top: 4px solid rgba(0, 0, 0, 0.194);
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

.displayTitle {
    color: #E7F6F2;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
}

.bodyDisplayEmployees th {
    text-align: center;
    color: #A5C9CA;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.bodyDisplayEmployees .displayEmployee-btn {
  margin-left: 10px;
  background-color: green;
  border-radius: 5px;
  border-style: double;
}
