.bodyDisplayEmployees {
    border-top: 2px solid rgba(0, 0, 0, 0.194);
    background: linear-gradient(
    to right,
    rgb(80, 80, 80) 0%,
    rgb(211, 211, 211) 100%
  );
}

.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display-module {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 5%;
}

.display-module:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.displayTitle {
  margin-top: 0;
}
