.bodyInActiveProjects {
    padding: 100px;
    background: #395B64;
    height: 100%;
}

.bodyInActiveProjects .table-striped tbody tr:nth-child(even) {
    background-color: #A5C9CA;
}

.bodyInActiveProjects .table-striped tbody tr:nth-child(odd) {
    background-color: #E7F6F2;
}

.bodyInActiveProjects table {
    border-spacing: 20px;
    width: 100%;
}

.bodyInActiveProjects td, th {
    padding: 15px;
    line-height: 2.0;
}

.bodyInActiveProjects tbody {
    margin: 0 auto;
    text-align: center;
    
}

.bodyInActiveProjects .title-container {
    border-top: 4px solid rgba(0, 0, 0, 0.194);
    padding-top: 50px;
    text-align: center;
}

.bodyInActiveProjects h1 {
    color: #A5C9CA;
}

.bodyInActiveProjects th {
    text-align: center;
    color: #A5C9CA;
}