.bodyInActiveProjects {
    padding: 100px;
    background: #395B64;
    height: 100%;
}

.bodyInActiveProjects .table-striped tbody tr:nth-child(even) {
    background-color: #A5C9CA;
}

.bodyInActiveProjects .table-striped tbody tr:nth-child(odd) {
    background-color: #E7F6F2;
}

.bodyInActiveProjects table {
    border-spacing: 20px;
    margin: 0 auto;
    width: 80%;
}

.bodyInActiveProjects tbody tr {
    border-bottom: 1px solid black;
}

.bodyInActiveProjects td, 
.bodyInActiveProjects th {
    padding: 15px;
    line-height: 2.0;
}

.bodyInActiveProjects tbody {
    margin: 0 auto;
    text-align: center;
}

.bodyInActiveProjects .title-container {
    border-top: 4px solid rgba(0, 0, 0, 0.194);
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.bodyInActiveProjects h1 {
    color: #E7F6F2;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.bodyInActiveProjects th {
    text-align: center;
    color: #A5C9CA;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}