.navbar {
  position: fixed;
  top: 0;

  width: 100%;
  background: #2c3333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* lägg till en skugga för att skilja navbaren från innehållet */
  z-index: 999;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif I !important;
}

.navbar .nav-link {
  font-family: var(--bs-body-font-family) !important;
  font-weight: 600;
  color: #a5c9ca !important;
  font-size: large;
}

.navbar img {
  position: relative;
  top: -3px;
  max-height: 35px;
}
.nav-link {
  margin-right: 30px;
}

.dropdownIconBox {
  color: #a5c9ca !important;
}

.dropdownIconBox {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
.navBartextContent {
  transition: 0.5s;
}
.navBartextContent:hover {
  color: #e7f6f2 !important;
}
.navBartextContent.active {
  color: #395b64 !important;
  transition: 0.5s;
}

.navBartextSignOut:hover {
  color: #e7f6f2 !important;
}
