.bodyProjectList {
  padding: 100px;
  border-top: 2px solid rgba(0, 0, 0, 0.194);
  background: #395b64;
  height: 100%;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #a5c9ca;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #e7f6f2;
}

table {
  border-spacing: 20px;
}

td,
th {
  padding: 15px;
  line-height: 2;
}

tbody {
  margin: 0 auto;
  text-align: center;
}

thead {
  text-align: center;
}

.title-container {
  border-top: 2px solid rgba(0, 0, 0, 0.194);
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

h1 {
  color: #a5c9ca;
}

th {
  color: #a5c9ca;
  text-align: center;
}
