.bodyProjectList {
  padding: 100px;
  background: #395b64;
  height: 100%;
}

.bodyProjectList .table-striped tbody tr:nth-child(even) {
  background-color: #a5c9ca;
}

.bodyProjectList .table-striped tbody tr:nth-child(odd) {
  background-color: #e7f6f2;
}

.bodyProjectList table {
  border-spacing: 20px;
}

.bodyProjectList td,
th {
  padding: 15px;
  line-height: 2;
}

.bodyProjectList tbody {
  margin: 0 auto;
  text-align: center;
}

.bodyProjectList thead {
  text-align: center;
}

.bodyProjectList .title-container {
  border-top: 4px solid rgba(0, 0, 0, 0.194);
  text-align: center;
  margin-bottom: 20px;
}

.bodyProjectList h1 {
  color: #a5c9ca;
}

.bodyProjectList th {
  color: #a5c9ca;
  text-align: center;
}
