.bodyProjectList {
  padding: 100px;
  background: #395b64;
  height: 100%;
}

.bodyProjectList .table-striped tbody tr:nth-child(even) {
  background-color: #a5c9ca;
}

.bodyProjectList .table-striped tbody tr:nth-child(odd) {
  background-color: #e7f6f2;
}

.bodyProjectList table {
  border-spacing: 20px;
  margin: 0 auto;
  width: 80%;
}

.bodyProjectList tbody tr {
  border-bottom: 1px solid black;
}

.bodyProjectList td,
.bodyProjectList th {
  padding: 15px;
  line-height: 2.0;
}

.bodyProjectList tbody {
  margin: 0 auto;
  text-align: center;
}

.bodyProjectList thead {
  text-align: center;
}

.bodyProjectList .title-container {
  border-top: 4px solid rgba(0, 0, 0, 0.194);
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.bodyProjectList h1 {
    color: #E7F6F2;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.bodyProjectList th {
    text-align: center;
    color: #A5C9CA;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
