.comment {
  padding: 20px;
  width: 35%;
  background-color: #a5c9ca;
  display: inline-block;
  margin-top: 10%;
  padding-top: 46px;
  border-radius: 50px;
}
.dropDown {
  overflow-y: scroll;
  max-height: 200px;
}
.background-color {
  background-color: #395b64;
  height: 100vh;
  text-align: center;
}
.display-inlineblock {
  display: inline-block;
}

