

.signInBackground{
    background: linear-gradient(#e66465, #9198e5);

    height: 100vh;
}
.signInNavbar{
    box-shadow: 5px 50px 100px rgba(66, 3, 36, 0.653);
}

body{
    padding-top: 50px;
    background: linear-gradient(to right, rgb(80,80,80) 0%, rgb(211,211,211)100%);
}

