.signInBackground {
  background: linear-gradient(#e66465, #9198e5);

  height: 100vh;
}
.signInNavbar {
  box-shadow: 5px 50px 100px rgba(66, 3, 36, 0.653);
}

.body {
  padding-top: 50px;
  background: linear-gradient(
    to right,
    rgb(80, 80, 80) 0%,
    rgb(211, 211, 211) 100%
  );
  /* background-image: url(../images/bakgrundprojekt3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
}

.titlehome {
  margin-top: 3%;
  border-top: 2px solid rgba(0, 0, 0, 0.194);
  color:rgba(0, 0, 0, 0.501);
  transition: 0.5s;
}
.titlehome:hover{
  color: rgba(0, 0, 0, 0.84);
  transition: 0.5s;
}

.homePage {
  /* padding-top: 50px; */
  background-image: url(../images/bakgrundprojekt3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mainsection {
  text-align: center;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.homePageCardColor{
  background-color: rgb(200, 200, 200);
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  place-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
}

#buttoncss {
  background-color: rgb(95, 95, 95);
  border-color: rgb(95, 95, 95);
  box-shadow: none;
}

#buttoncss:hover {
  background-color: rgb(95, 95, 95);
  border-color: rgb(95, 95, 95);
  box-shadow: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .section {
    grid-template-columns: 1fr;
  }
  .titlehome {
    padding-top: 13%;
  }
}

.card{
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(
    1.1
  ); /* förstorar kortet till 110% av sin ursprungliga storlek */
  transition: transform 0.3s ease-in-out; /* skapar en mjuk övergång till förstoringsanimationen */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}


